script(type='text/javascript', src='/js/lib/d3/d3.v3.js')

script(type='text/javascript', src='/js/graph.js')

script(type='text/javascript', src='http://conceptor2000.herokuapp.com/socket.io/socket.io.js')