script(type='text/javascript', src='/js/lib/jsv.js')
script(type='text/javascript', src='/js/lib/jsonform.js')

script(type='text/javascript', src='/js/form.js')

script(type='text/javascript', src='http://localhost:3000/socket.io/socket.io.js')