script(type='text/javascript', src='/js/lib/d3/d3.v3.js')

script(type='text/javascript', src='/js/timeline.js')
script(type='text/javascript', src='/js/main.js')

script(type='text/javascript', src='http://localhost:3000/socket.io/socket.io.js')