body.full .container {
  width 100%;
  max-width: none;
  margin: 1px;
}

.navbar {
  position: static;
  margin-bottom: 0px;
}


.center {
  text-align: center;
}


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

input[type="file"] {
  margin : 1px;
}

/*
Graph
*/


.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.timeline-line {
  stroke-width: 0.5;
  text-anchor: middle;
}

.timeline-label {
  fill: #999;
  anchor
}
/*
----
*/

circle {
  fill : #333;
}

svg {
  border: 1px solid #ccc;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node-circle {
  fill: #5bc0de;
  stroke: #46b8da;
}

.node-circle:hover {
  fill: #39b3d7;
}

text {
  fill: #333;
  text-align: center;
  font-size: 10px;
}

text.shadow {
  stroke: #000;
  stroke-width: 2px;
  stroke-opacity: .7;
}
  
.ui-progressbar {
    position: relative;
  }
.progress-label {
    position: absolute;
    left: 50%;
    top: -2px;
    font-weight: bold;
    font-size: 9px;
    text-shadow: 1px 1px 0 #fff;
  }
.elapsed{
  text-align: right;
}