.container {
  max-width: 900px;
}

.navbar-fixed-top {
  margin-bottom: 20px;
  position: static;
}

.navbar-inner{
  padding: 5px;
}

.date {
  font-size: 11px;
  color: #aaa;
}

.author {
  color: #aaa;
}

h1 {
  font-size: 22px;
}

.title {
  padding: 5px 0 15px 0;
  display: block;
  font-size: 18px;
}
/*
.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.main-head {
  text-align: center;
  padding: 20px;
}

.btn {
  outline: none !important;
}

*/

.center {
  text-align: center;
}

.tags {
  margin-top: 10px;
}

a.tag {
  margin: 0 10px 0 0;
}

.error {
  color: #FF2602;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.timeline-line {
  stroke-width: 0.5;
  text-anchor: middle;
}

.timeline-label {
  fill: #999;
  anchor
}

#canvas {
  width: 940px;
  border: 1px solid #ccc;
}
.form-horizontal .no-indent {
  margin-left: 0 ;
}