extends ../layouts/default

block main
  h1 Admin processes
  hr
  a.btn(href="/admin/processes/new") New 
  hr
  p Edit 
  br
  each technique in processes
    p
      a.btn(href="/admin/processes/" + technique.id) #{technique.name}
    