extends ../layouts/default

block main
  h1 New 
  hr
  .list-group
  each phase in phases
    h3=phase.name
    each technique in phase.techniques
      a.list-group-item(href="/processes/" + process_item._id +"/" + phase._id + "/new/" + technique.id)
        p.list-group-item-heading=technique.name
    