extends auth

block auth
  form.login.form-horizontal(action="/users/session", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    p.error= message

    .form-group
      label.control-label.col-lg-2(for='email') Email
      .col-lg-10
        input#email.form-control(type='text', name="email", placeholder='Email')

    .form-group
      label.control-label.col-lg-2(for='password') Password
      .col-lg-10
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-actions.col-lg-offset-2
      button.btn.btn-primary(type='submit') Login
      &nbsp;
      | or&nbsp;
      a.btn-link.show-signup(href="/signup") sign up
