extends layouts/default

block main
  br
  p.center
    a.btn.btn-info(href="/start") 
      img(src="img/new.png") 
      br 
      | Nouveau Processus
    &nbsp;
    a.btn.btn-info(href="/processes")
      img(src="img/projects.png") 
      br 
      | Mes processus