extends ../layouts/default

block main
  h1 Phases

block content
  each phase in phases
    .phase
      a.title(href='/phases/'+phase._id, title=phase.name) #{phase.name}
      p=phase.comments
    hr

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
  