extends ../layouts/default_d3

block main
  h1 Techniques

block content
  #canvas
  svg
    defs
        marker#Marker(viewbox='0 0 4 4', refx='2', refy='2', markerwidth='4', markerheight='4', stroke='#ccc', stroke-width='1', fill='#CCC', orient='auto')
          circle(cx=2, cy='2', r='2')

